body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
  }

  #app {
    flex: 1;
    display: flex;
  }
  
  #left-column, #right-column {
    flex: 1;
    padding: 20px;
  }
  
  #left-column {
    background-color: #f0f0f0;
  }
  
  #right-column {
    background-color: #f0f0f0;
  }
  
  #comment-input {
    width: 100%;
  }
  
  #comment-button {
    margin-top: 10px;
  }
  
  #book-selector,
#chapter-selector {
  margin-bottom: 10px;
}

#disqus_thread {
  display: none; /* Initially hide the Disqus container */
  /* Add any other styles as needed */
}